
catalogo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 18px 0;
    cursor: pointer;
}

card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    mix-blend-mode: multiply;
}
carrinho{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
item_carrinho{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

h1{
    text-align: center;
}
